<!DOCTYPE html>
<!-- Kevin Merritt - kkmerritt@gmail.com-->

<html>
<head>
  <meta charset="utf-8">
  <title>Shell Game</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Tangerine:700' rel='stylesheet' type='text/css'>  <link rel="stylesheet" href="styles.css">
</style>
</head>

<header>Find the Queen of <img id="heart" src="heart.png">'s </header>
<body>
  <main>
    <container id="cardcontainer">
      <div class="cardBox">
        <img class="cardOne" src="back.png">
        <img class="queen" src="queenh.png">
      </div>
      <div class="cardBox">
        <img class="cardTwo" src="back.png">
        <img class="queen" src="queenh.png">

      </div>
      <div class="cardBox">
        <img class="cardThree" src="back.png">
        <img class="queen" src="queenh.png">

      </div>

    </container>
<br><br><br><br>
<div>
  <button class="start">Start</button>
</div>
    <br>
    <br>
    <br>
    <br>
    <footer>
      <p>
        designed by;<br>
         &spades; &clubs; <a href="mailto:kkmerritt@gmail.com"> Kevin Merritt  </a> &hearts; &diams;<br><br><br>
        graphics by;
        <a href="mailto:conjurenation@gmail.com">Chris Aguilar</a>
      </p>
    </footer>


  </main>


  <script source src="app.js"> </script>
</body>
</html>
