
<header>
<img id="btlogo" src = "/img/borntiredlogo.png">


<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">

<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="https://noprosports.herokuapp.com/">NoPro Sports</a></li>
<li><a href="https://still-hollows-3892.herokuapp.com/">Simple Forum App</a></li>
<li><a href="https://safe-fortress-3049.herokuapp.com/">PokeMon Game</a></li>

<li><a href="#">Tower of Hanoi</a></li>
<li><a href="#">Tiny Disco Casion</a></li>
<li class="divider"></li>
<li><a href="#">Travelog [team project]</a></li>
</ul>
</li>

<li><a href="/blog">blog</a><br>
<li><a href="/social">social</a><br>
<li><a href="/professional">professional</a><br>

<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Miscellany <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="/woodworking">Woodworking</a></li>
<li><a href="/photography">photography</a></li>
</ul>
</li>
</ul>
</div>
</div>
</nav>
</header>
