professional page<br><br><br>

<br><br>
<p>Freelance Web Developer. Formerly attended <a href="http://www.generalassemb.ly">General Assembly</a>.This site is currently being built. In the meantime please enjoy
my social media presence.</p>

<br><br>&copy;
{{ firstName + " " + lastName }} borntired designs - llc -inc - industries.
<br><br><br>

<img src="https://angularjs.org/img/AngularJS-large.png"><br>
<img src="https://nodejs.org/static/images/logos/nodejs.png"><br>

<a href="http://www.linkedin.com/in/kevinkmerritt"><img class="footer-icons" src="./img/icons/li.png"></a>
<a href="https://github.com/kkmerritt"><img class="footer-icons" src="./img/icons/gh.png"></a>
<a href="https://profiles.generalassemb.ly/profiles/kevin-merritt">GA ICON</a><br><br>
