<link rel="stylesheet" href="/css/style.css">
<br><br>
<p>Freelance Web Developer. Formerly attended <a href="http://www.generalassemb.ly">General Assembly</a>.This site is undergoing renovations</p>
<center><br><br>
<a href="https://drive.google.com/file/d/0B3b3NTrPZaVdNjl6cXFSZ2lHZWM/view?usp=sharing"><h2>
kkmerritt_resume.pdf</h2></a>
<br><br><br><br><br><hr><br><br><br><br>

<ul>
<li><img src="https://www.planet-source-code.com/vb/2010Redesign/images/LangugeHomePages/HTML5_CSS_JavaScript.png" alt="htmlcssjs" height="100" >
<li><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" alt="rubyonrails" height="100" >
<li><img src="https://nodejs.org/static/images/logos/nodejs-dark.png" alt="nodejs" height="100" >
<li><img src="http://code-maven.com/img/angularjs.png" alt="angularjs" height="100" >
<li><img src="http://www.theodo.fr/uploads/blog//2015/11/mongodb.png" alt="mongodb" height="100" >
<li><img src="http://www.clipartsfree.net/svg/postgresql-logo_Clipart_svg_File.svg" alt="postgresql" height="100" >
</ul>
<br><br><br><br><br><hr><br><br><br><br>
<ul>
<a href="http://www.linkedin.com/in/kevinkmerritt"><img class="footer-icons" src="./img/icons/li.png"></a><br><br>
<a href="https://github.com/kkmerritt"><img class="footer-icons" src="./img/icons/gh.png"></a><br><br>
<a href="https://profiles.generalassemb.ly/profiles/kevin-merritt"><img src="https://ga-profiles-production-herokuapp-com.global.ssl.fastly.net/assets/profiles_header_small-3ed748764ae5d0e54e4f3c25801af679.png"></a>
  </ul>
  <br><br><br><br><br><br>
