Social Networks
<br><br>
"I don't need anymore friends, I already have two"
<br><br>
<a href="http://www.facebook.com/alcoholicjedi"><img class="footer-icons" src="./img/icons/fb.png"></a>
<a href="https://github.com/kkmerritt"><img class="footer-icons" src="./img/icons/gh.png"></a>
<a href="mailto:kkmerritt@gmail.com"><img class="footer-icons" src="./img/icons/gm.png"></a>
<a href="http://instagram.com/alcoholicjedi/"><img class="footer-icons" src="./img/icons/ig.png"></a>
<a href="http://www.quora.com/profile/Kevin-Merritt-2"><img class="footer-icons" src="./img/icons/qa.png"></a>
