body {
  background-color: #f5f5f5;
  font-family: Raleway;
  text-transform: lowercase;
  font-size: 1rem;
}

a, li {
  color: blue;
}

.headerphoto {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 150px;
  height: 25rem;
 -webkit-filter: grayscale(100%)

}

.portfolio-link {
  border-style: solid;
  border-width: thin;
  border-color: black;
}
#btlogo {
  width: 20rem;
  margin-top: -15px;
  margin-left: 0px;
}
