body {
  background-color: #f5f5f5;
  font-family: Raleway;

}

.headerphoto {
  border-style: solid;
  border-width: thin;
  border-radius: 150px;
  border-color: black;
  width: 40rem;
}

.portfolio-link {
  border-style: solid;
  border-width: thin;
  border-color: black;
}
